<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Inicio</ion-item>
      <ion-item>Perfil</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title #tituloAnimado>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="main-content">

  <h1 class="titulo" #bienvenidaAnimada>¡Bienvenido!</h1>
  <p class="usuario">Usuario: {{ usuario }}</p>

  <h2 class="subtitulo">Información Adicional</h2>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido" name="apellido" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nivel Educación</ion-label>
    <ion-select placeholder="Seleccione Nivel" [(ngModel)]="nivelEducacion">
      <ion-select-option value="Básica">Básica</ion-select-option>
      <ion-select-option value="Media">Media</ion-select-option>
      <ion-select-option value="Superior">Superior</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Fecha Nacimiento</ion-label>
    <ion-datetime
      [(ngModel)]="fechaNacimiento"
      [showDefaultButtons]="true"
      cancelText="Cancelar"
      doneText="Aceptar"
      presentation="date"
      locale="es-CL">
    </ion-datetime>
  </ion-item>
  <div class="botones">
    <ion-button expand="block" fill="outline" color="medium" (click)="limpiar()">Limpiar</ion-button>
    <ion-button expand="block" color="primary" (click)="mostrar()">Mostrar</ion-button>
  </div>

  <p class="footer">App desarrollada por Javiera Banda</p>
</ion-content>
